<sm-header></sm-header>

<form [formGroup]="formGroup" [bitSubmit]="submit" class="tw-max-w-xl">
  <div>
    <label>{{ "fileUpload" | i18n }}</label>
    <div class="file-selector">
      <button type="button" class="btn btn-outline-primary" (click)="fileSelector.click()">
        {{ "chooseFile" | i18n }}
      </button>
      {{ this.formGroup.get("fileSelected")?.value?.name ?? ("noFileChosen" | i18n) }}
    </div>
    <input
      #fileSelector
      type="file"
      id="file"
      class="form-control-file"
      name="file"
      (change)="setSelectedFile($event)"
      hidden
    />
    <bit-hint>{{ "acceptedFormats" | i18n }} JSON</bit-hint>
  </div>
  <div class="my-4">
    {{ "or" | i18n }}
  </div>
  <div class="form-group">
    <label for="pastedContents">{{ "copyPasteImportContents" | i18n }}</label>
    <textarea
      bitInput
      id="pastedContents"
      class="form-control"
      name="FileContents"
      formControlName="pastedContents"
    ></textarea>
    <bit-hint>{{ "acceptedFormats" | i18n }} JSON</bit-hint>
  </div>
  <button bitButton bitformButton type="submit" buttonType="primary">
    {{ "importData" | i18n }}
  </button>
</form>
