<bit-dialog [dialogSize]="dialogSize" [disablePadding]="disablePadding">
  <span bitDialogTitle>{{ "newDomain" | i18n }}</span>
  <div bitDialogContent>
    <form [formGroup]="domainForm">
      <bit-form-field>
        <bit-label>{{ "domainName" | i18n }}</bit-label>
        <input bitInput formControlName="domainName" />
        <bit-hint>{{ "domainNameInputHint" | i18n }}</bit-hint>
      </bit-form-field>

      <bit-form-field>
        <bit-label>{{ "dnsTxtRecord" | i18n }}</bit-label>
        <input bitInput formControlName="txt" />
        <bit-hint>{{ "dnsTxtRecordInputHint" | i18n }}</bit-hint>
        <button
          type="button"
          bitSuffix
          bitButton
          appA11yTitle="{{ 'copyDnsTxtRecord' | i18n }}"
          (click)="copyDnsTxt()"
        >
          <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
        </button>
      </bit-form-field>
    </form>

    <bit-callout type="info" title="{{ 'automaticDomainVerification' | i18n }}">
      {{ "automaticDomainVerificationProcess" | i18n }}
    </bit-callout>
  </div>
  <div bitDialogFooter class="tw-flex tw-flex-row tw-items-center tw-gap-2">
    <button bitButton buttonType="primary" [disabled]="domainForm.invalid">
      {{ "verifyDomain" | i18n }}
    </button>
    <button bitButton buttonType="secondary" (click)="dialogRef.close()">
      {{ "cancel" | i18n }}
    </button>
    <button
      *ngIf="data.orgDomain"
      class="tw-ml-auto"
      bitIconButton="bwi-trash"
      buttonType="danger"
      size="default"
      title="Delete"
      aria-label="Delete"
    ></button>
  </div>
</bit-dialog>
