<div class="tab-page">
  <router-outlet></router-outlet>
  <nav class="tabs">
    <ul>
      <li routerLinkActive="active" *ngIf="showCurrentTab">
        <button routerLink="current" appA11yTitle="{{ 'currentTab' | i18n }}">
          <i class="bwi bwi-folder-closed-f bwi-2x" aria-hidden="true"></i>{{ "tab" | i18n }}
        </button>
      </li>
      <li routerLinkActive="active">
        <button routerLink="vault" appA11yTitle="{{ 'myVault' | i18n }}">
          <i class="bwi bwi-lock-f bwi-2x" aria-hidden="true"></i>{{ "myVault" | i18n }}
        </button>
      </li>
      <li routerLinkActive="active">
        <button routerLink="send" appA11yTitle="{{ 'send' | i18n }}">
          <i class="bwi bwi-send-f bwi-2x" aria-hidden="true"></i>{{ "send" | i18n }}
        </button>
      </li>
      <li routerLinkActive="active">
        <button routerLink="generator" appA11yTitle="{{ 'passGen' | i18n }}">
          <i class="bwi bwi-generate-f bwi-2x" aria-hidden="true"></i>{{ "generator" | i18n }}
        </button>
      </li>
      <li routerLinkActive="active">
        <button routerLink="settings" appA11yTitle="{{ 'settings' | i18n }}">
          <i class="bwi bwi-cog-f bwi-2x" aria-hidden="true"></i>{{ "settings" | i18n }}
        </button>
      </li>
    </ul>
  </nav>
</div>
