<div class="header">
    <div class="left">
        <a ng-click="close()" href="">{{i18n.back}}</a>
    </div>
    <div class="title">{{i18n.generatePasswordHistory}}</div>
</div>
<div class="content">
    <div class="list" style="margin-top: 0;">
        <div class="list-section" ng-if="passwords.length !== 0">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-checkbox condensed" ng-repeat="password in passwords | orderBy:'[]':true">
                    <span class="btn-list" stop-prop stop-click title="{{i18n.copyPassword}}" ngclipboard
                          ngclipboard-error="clipboardError(e)" ngclipboard-success="clipboardSuccess(e, i18n.password)"
                          data-clipboard-text="{{password.password}}">
                        <i class="fa fa-lg fa-key"></i>
                    </span>
                    <span class="text">
                        {{password.password}}
                    </span>
                    <span class="detail">{{password.date | date}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
