<bit-dialog #dialog dialogSize="large" background="alt">
  <span bitDialogTitle>{{ "generator" | i18n }}</span>
  <ng-container bitDialogContent>
    <tools-credential-generator />
    <button
      type="button"
      bitLink
      linkType="primary"
      aria-haspopup="true"
      (click)="openHistoryDialog()"
    >
      {{ "generatorHistory" | i18n }}
    </button>
  </ng-container>
  <ng-container bitDialogFooter>
    <button type="button" bitButton bitFormButton buttonType="secondary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
