<header>
    <div class="left">
        <a routerLink="/2fa">{{'close' | i18n | async}}</a>
    </div>
    <div class="center">
        <span class="title">{{'twoStepOptions' | i18n | async}}</span>
    </div>
    <div class="right"></div>
</header>
<content>
    <div class="box">
        <div class="box-content">
            <a href="#" appStopClick *ngFor="let p of providers" class="box-content-row" (click)="choose(p)">
                <span class="text">{{p.name}}</span>
                <span class="detail">{{p.description}}</span>
            </a>
            <a href="#" appStopClick class="box-content-row" (click)="recover()">
                <span class="text">{{'recoveryCodeTitle' | i18n | async}}</span>
                <span class="detail">{{'recoveryCodeDesc' | i18n | async}}</span>
            </a>
        </div>
    </div>
</content>
