<bit-dialog dialogSize="default">
  <span bitDialogTitle>{{ title | i18n }}</span>
  <span bitDialogContent>
    <!-- Need to get tab groups working; right now just place holder-->
    <bit-tab-group class="tw-w-full">
      <bit-tab-item [route]="['name-value']">{{ "nameValuePair" | i18n }}</bit-tab-item>
      <bit-tab-item [route]="['service-accounts']">{{ "serviceAccounts" | i18n }}</bit-tab-item>
      <bit-tab-item [route]="['projects']">{{ "projects" | i18n }}</bit-tab-item>
    </bit-tab-group>

    <!-- NameValue pair block-->
    <form [formGroup]="form" class="tw-pt-4">
      <div class="tw-flex tw-gap-4">
        <bit-form-field class="tw-w-1/3">
          <bit-label for="secret-name">{{ "name" | i18n }}</bit-label>
          <input formControlName="name" bitInput />
        </bit-form-field>
        <bit-form-field class="tw-w-full">
          <bit-label>{{ "value" | i18n }}</bit-label>
          <textarea bitInput rows="4" formControlName="value"></textarea>
        </bit-form-field>
      </div>
      <bit-form-field>
        <bit-label>{{ "notes" | i18n }}</bit-label>
        <textarea bitInput rows="4" formControlName="notes"></textarea>
      </bit-form-field>
    </form>
  </span>
  <div bitDialogFooter class="tw-flex tw-gap-2">
    <bit-submit-button
      buttonType="primary"
      [formGroup]="form"
      [disabled]="!form.valid"
      (click)="onSave()"
    >
      {{ "save" | i18n }}
    </bit-submit-button>
    <button bitButton buttonType="secondary" bitDialogClose (click)="dialogRef.close()">
      {{ "cancel" | i18n }}
    </button>
  </div>
</bit-dialog>
