<bit-dialog dialogSize="default">
  <span bit-dialog-title>{{ title }}</span>
  <span bit-dialog-content>
    <!-- Need to get tab groups working; right now just place holder-->
    <bit-tab-group class="tw-w-full">
      <bit-tab-item [route]="['Name Value']">Name/Value Pair</bit-tab-item>
      <bit-tab-item [route]="['Service Accounts']">Service Accounts</bit-tab-item>
      <bit-tab-item [route]="['Projects']">Projects</bit-tab-item>
    </bit-tab-group>

    <!-- NameValue pair block-->
    <form [formGroup]="form">
      <div class="tw-flex tw-gap-5">
        <bit-form-field class="tw-w-1/3">
          <bit-label for="secret-name">Name</bit-label>
          <input formControlName="name" bitInput />
        </bit-form-field>
        <bit-form-field class="tw-w-1/2">
          <bit-label>Value</bit-label>
          <textarea bitInput rows="4" formControlName="value"></textarea>
        </bit-form-field>
      </div>
      <bit-form-field class="tw-w-10/12">
        <bit-label>Notes</bit-label>
        <textarea bitInput rows="4" formControlName="notes"></textarea>
      </bit-form-field>
    </form>
  </span>
  <div bit-dialog-footer class="tw-flex tw-flex-row tw-gap-2">
    <button
      bitButton
      buttonType="primary"
      [formGroup]="form"
      [disabled]="!form.valid"
      (click)="onSave()"
    >
      Save
    </button>
    <button bitButton buttonType="secondary" bitDialogClose (click)="dialogRef.close()">
      Cancel
    </button>
  </div>
</bit-dialog>
