<div class="tw-flow-root">
  <h1 class="tw-text-3x tw-float-left tw-font-semibold">{{ "secrets" | i18n }}</h1>
  <button bitButton buttonType="primary" class="tw-float-right" [bitMenuTriggerFor]="newMenu">
    {{ "new" | i18n }}
    <i class="bwi bwi-fw bwi-angle-down tw-text-lg" aria-hidden="true"></i>
  </button>
  <input class="search tw-float-right" placeholder="Search Secrets" />
</div>
<sm-secrets-list [secrets]="secrets"></sm-secrets-list>

<bit-menu #newMenu>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-sitemap tw-text-xl" aria-hidden="true"></i>
    {{ "project" | i18n }}
  </button>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-key tw-text-xl" aria-hidden="true"></i>
    {{ "secret" | i18n }}
  </button>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-wrench tw-text-xl" aria-hidden="true"></i>
    {{ "serviceAccount" | i18n }}
  </button>
</bit-menu>
