<div class="tw-flow-root">
  <h1 class="tw-text-3x tw-font-semibold tw-float-left">Secrets</h1>
  <button bitButton buttonType="primary" class="tw-float-right" [bitMenuTriggerFor]="newMenu">
    New
    <i class="bwi bwi-fw bwi-angle-down tw-text-lg" aria-hidden="true"></i>
  </button>
  <input class="search tw-float-right" placeholder="Search Secrets" />
</div>
<sm-secrets-list [secrets]="secrets"></sm-secrets-list>

<bit-menu #newMenu>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-sitemap tw-text-xl" aria-hidden="true"></i>
    Project
  </button>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-key tw-text-xl" aria-hidden="true"></i>
    Secret
  </button>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-wrench tw-text-xl" aria-hidden="true"></i>
    Service Account
  </button>
</bit-menu>
