<div class="tw-flex tw-content-center tw-items-center tw-justify-center tw-gap-3">
  <h1 class="tw-text-3x tw-float-left tw-font-semibold">{{ "secrets" | i18n }}</h1>
  <input class="search tw-ml-auto" placeholder="{{ 'searchSecrets' | i18n }}" />
  <button bitButton buttonType="primary" class="" [bitMenuTriggerFor]="newMenu">
    {{ "new" | i18n }}
    <i class="bwi bwi-fw bwi-angle-down tw-text-lg" aria-hidden="true"></i>
  </button>
  <i class="bwi bwi-fw bwi-filter tw-float-right tw-text-2xl"></i>
</div>
<sm-secrets-list [secrets]="secrets"></sm-secrets-list>

<bit-menu #newMenu>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-sitemap tw-text-xl" aria-hidden="true"></i>
    {{ "project" | i18n }}
  </button>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-key tw-text-xl" aria-hidden="true"></i>
    {{ "secret" | i18n }}
  </button>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-wrench tw-text-xl" aria-hidden="true"></i>
    {{ "serviceAccount" | i18n }}
  </button>
</bit-menu>
