<div class="tw-flex tw-flex-row tw-justify-between">
  <h1>{{ "domainVerification" | i18n }}</h1>

  <button type="button" buttonType="primary" bitButton>
    <i class="bwi bwi-plus bwi-fw" aria-hidden="true"></i> {{ "newDomain" | i18n }}
  </button>
</div>

<div class="tw-flex tw-flex-row">
  <bit-table class="tw-w-full tw-table-auto">
    <ng-container header>
      <tr>
        <th bitCell>Name</th>
        <th bitCell>Status</th>
        <th bitCell>Last Checked</th>
        <th bitCell>Options</th>
      </tr>
    </ng-container>
    <ng-container body>
      <!-- <tr bitRow [alignContent]="alignRowContent">
        <td bitCell>Cell 1</td>
        <td bitCell>Cell 2 <br> Multiline Cell</td>
        <td bitCell>Cell 3</td>
      </tr>
      <tr bitRow [alignContent]="alignRowContent">
        <td bitCell>Cell 4</td>
        <td bitCell>Cell 5</td>
        <td bitCell>Cell 6</td>
      </tr>
      <tr bitRow [alignContent]="alignRowContent">
        <td bitCell>Cell 7 <br> Multiline Cell</td>
        <td bitCell>Cell 8</td>
        <td bitCell>Cell 9</td>
      </tr> -->
    </ng-container>
  </bit-table>
</div>

<div class="tw-mt-6 tw-flex tw-flex-col tw-items-center tw-justify-center">
  <img src="../../images/domain-verification/domain.svg" class="tw-mb-4" alt="domain" />

  <div class="tw-mb-2 tw-flex tw-flex-row tw-justify-center">
    <span class="tw-text-lg tw-font-bold">{{ "noDomains" | i18n }}</span>
  </div>

  <div class="tw-mb-4 tw-flex tw-flex-row tw-justify-center">
    <span>
      {{ "noDomainsSubText" | i18n }}
    </span>
  </div>

  <button type="button" buttonType="secondary" bitButton>
    <i class="bwi bwi-plus bwi-fw" aria-hidden="true"></i> {{ "newDomain" | i18n }}
  </button>
</div>
