<sm-header>
  <sm-new-menu></sm-new-menu>
</sm-header>

<div *ngIf="pageLoaded$ | async; else spinner">
  <sm-onboarding [title]="'getStarted' | i18n" *ngIf="completed$ | async as completed">
    <sm-onboarding-task
      [title]="'createServiceAccount' | i18n"
      (click)="openServiceAccountDialog()"
      icon="bwi-cli"
      [completed]="completed.createServiceAccount"
    >
      <span>
        {{ "downloadThe" | i18n }} <a bitLink routerLink="">{{ "smCLI" | i18n }}</a>
      </span>
    </sm-onboarding-task>
    <sm-onboarding-task
      [title]="'importSecrets' | i18n"
      [route]="['settings', 'import']"
      icon="bwi-download"
      [completed]="completed.importSecrets"
    ></sm-onboarding-task>
    <sm-onboarding-task
      [title]="'createSecret' | i18n"
      (click)="openSecretDialog()"
      icon="bwi-key"
      [completed]="completed.createSecret"
    ></sm-onboarding-task>
    <sm-onboarding-task
      [title]="'createProject' | i18n"
      (click)="openProjectDialog()"
      icon="bwi-collection"
      [completed]="completed.createProject"
    ></sm-onboarding-task>
  </sm-onboarding>
</div>

<ng-template #spinner>
  <div class="tw-items-center tw-justify-center tw-pt-64 tw-text-center">
    <i class="bwi bwi-spinner bwi-spin bwi-3x"></i>
  </div>
</ng-template>
