<div class="content">
  <div class="inner-content" *ngIf="cipher">
    <div class="box">
      <h2 class="box-header">
        {{ "itemInformation" | i18n }}
      </h2>
      <div class="box-content">
        <div class="box-content-row">
          <label
            for="name"
            class="draggable"
            draggable="true"
            (dragstart)="setTextDataOnDrag($event, cipher.name)"
            >{{ "name" | i18n }}</label
          >
          <input id="name" type="text" [value]="cipher.name" readonly tabindex="-1" />
        </div>
        <!-- Login -->
        <div *ngIf="cipher.login">
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.login.username">
            <div class="row-main">
              <label
                for="loginUsername"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.login.username)"
                >{{ "username" | i18n }}
              </label>
              <input
                id="loginUsername"
                type="text"
                [value]="cipher.login.username"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyUsername' | i18n }}"
                aria-describedby="loginUsername"
                (click)="copy(cipher.login.username, 'username', 'Username')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.login.password">
            <div class="row-main">
              <label
                for="loginPassword"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.login.password)"
                >{{ "password" | i18n }}</label
              >
              <input
                id="loginPassword"
                class="sr-only"
                type="{{ showPassword ? 'text' : 'password' }}"
                name="Login.Password"
                [(ngModel)]="cipher.login.password"
                readonly
                tabindex="-1"
              />
              <div *ngIf="!showPassword" class="monospaced" aria-hidden="true">
                {{ cipher.login.maskedPassword }}
              </div>
              <div
                *ngIf="showPassword && !showPasswordCount"
                class="monospaced password-wrapper"
                appSelectCopy
                [innerHTML]="cipher.login.password | colorPassword"
                aria-hidden="true"
              ></div>
              <div
                *ngIf="showPassword && showPasswordCount"
                [innerHTML]="cipher.login.password | colorPasswordCount"
                aria-hidden="true"
              ></div>
            </div>
            <div class="action-buttons action-buttons-fixed">
              <button
                type="button"
                #checkPasswordBtn
                class="row-btn btn"
                appA11yTitle="{{ 'checkPassword' | i18n }}"
                (click)="checkPassword()"
                [appApiAction]="checkPasswordPromise"
                [disabled]="checkPasswordBtn.loading"
                *ngIf="cipher.viewPassword"
              >
                <i
                  class="bwi bwi-lg bwi-check-circle"
                  [hidden]="checkPasswordBtn.loading"
                  aria-hidden="true"
                ></i>
                <i
                  class="bwi bwi-lg bwi-spinner bwi-spin"
                  [hidden]="!checkPasswordBtn.loading"
                  aria-hidden="true"
                ></i>
              </button>
              <button
                type="button"
                class="row-btn"
                appStopClick
                attr.aria-label="{{ 'toggleCharacterCount' | i18n }} {{ 'password' | i18n }}"
                appA11yTitle="{{ 'toggleCharacterCount' | i18n }}"
                (click)="togglePasswordCount()"
                *ngIf="showPassword"
                [attr.aria-pressed]="showPasswordCount"
              >
                <i class="bwi bwi-lg bwi-numbered-list" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="row-btn"
                appStopClick
                attr.aria-label="{{ 'toggleVisibility' | i18n }} {{ 'password' | i18n }}"
                appA11yTitle="{{ 'toggleVisibility' | i18n }}"
                (click)="togglePassword()"
                *ngIf="cipher.viewPassword"
                [attr.aria-pressed]="showPassword"
              >
                <i
                  class="bwi bwi-lg"
                  aria-hidden="true"
                  [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
                ></i>
              </button>
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyPassword' | i18n }}"
                [attr.aria-describedby]="showPassword ? 'loginPassword' : null"
                (click)="copy(cipher.login.password, 'password', 'Password')"
                *ngIf="cipher.viewPassword"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div
            class="box-content-row box-content-row-flex totp"
            [ngClass]="{ low: totpLow }"
            *ngIf="cipher.login.totp && totpCode"
          >
            <div class="row-main">
              <label
                for="loginTotp"
                class="row-label draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, totpCode)"
                >{{ "verificationCodeTotp" | i18n }}
              </label>
              <input
                id="loginTotp"
                type="text"
                [value]="totpCodeFormatted"
                readonly
                tabindex="-1"
              />
            </div>
            <span class="totp-countdown" aria-hidden="true">
              <span class="totp-sec">{{ totpSec }}</span>
              <svg>
                <g>
                  <circle
                    class="totp-circle inner"
                    r="12.6"
                    cy="16"
                    cx="16"
                    [ngStyle]="{ 'stroke-dashoffset.px': totpDash }"
                  ></circle>
                  <circle class="totp-circle outer" r="14" cy="16" cx="16"></circle>
                </g>
              </svg>
            </span>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyVerificationCodeTotp' | i18n }}"
                aria-describedby="loginTotp"
                (click)="copy(totpCode, 'verificationCodeTotp', 'TOTP')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
                <span class="sr-only">{{ "copyValue" | i18n }}</span>
                <span
                  class="sr-only exists-only-on-parent-focus"
                  aria-live="polite"
                  aria-atomic="true"
                  >{{ totpSec }}</span
                >
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex totp" *ngIf="showPremiumRequiredTotp">
            <div class="row-main">
              <span class="row-label">{{ "verificationCodeTotp" | i18n }}</span>
              <span class="row-label">
                <a routerLink="/premium">
                  {{ "premiumSubcriptionRequired" | i18n }}
                </a>
              </span>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div *ngIf="cipher.card">
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.card.cardholderName">
            <div class="row-main">
              <label
                for="cardCardholderName"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.card.cardholderName)"
                >{{ "cardholderName" | i18n }}</label
              >
              <input
                id="cardCardholderName"
                type="text"
                name="Card.CardCardholderName"
                [(ngModel)]="cipher.card.cardholderName"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyCardholderName' | i18n }}"
                aria-describedby="cardCardholderName"
                (click)="copy(cipher.card.cardholderName, 'cardholderName', 'Cardholder name')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.card.number">
            <div class="row-main">
              <label
                for="cardNumber"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.card.number)"
                >{{ "number" | i18n }}</label
              >
              <input
                id="cardNumber"
                class="monospaced"
                type="{{ showCardNumber ? 'text' : 'password' }}"
                name="Card.Number"
                [(ngModel)]="cipher.card.number"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                attr.aria-label="{{ 'toggleVisibility' | i18n }} {{ 'number' | i18n }}"
                appA11yTitle="{{ 'toggleVisibility' | i18n }}"
                (click)="toggleCardNumber()"
                [attr.aria-pressed]="showCardNumber"
              >
                <i
                  class="bwi bwi-lg"
                  aria-hidden="true"
                  [ngClass]="{ 'bwi-eye': !showCardNumber, 'bwi-eye-slash': showCardNumber }"
                ></i>
              </button>
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyNumber' | i18n }}"
                [attr.aria-describedby]="showCardNumber ? 'cardNumber' : null"
                (click)="copy(cipher.card.number, 'number', 'Card Number')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.card.brand">
            <div class="row-main">
              <label
                for="cardBrand"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.card.brand)"
                >{{ "brand" | i18n }}</label
              >
              <input
                id="cardBrand"
                type="text"
                name="Card.Brand"
                [(ngModel)]="cipher.card.brand"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyBrand' | i18n }}"
                aria-describedby="cardBrand"
                (click)="copy(cipher.card.brand, 'brand', 'Brand')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.card.expiration">
            <div class="row-main">
              <label
                for="cardExp"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.card.expiration)"
                >{{ "expiration" | i18n }}</label
              >
              <input
                id="cardExp"
                type="text"
                name="Card.Exp"
                [(ngModel)]="cipher.card.expiration"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyExpiration' | i18n }}"
                aria-describedby="cardExp"
                (click)="copy(cipher.card.expiration, 'expiration', 'Expiration')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.card.code">
            <div class="row-main">
              <label
                for="cardCode"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.card.code)"
                >{{ "securityCode" | i18n }}</label
              >
              <input
                id="cardCode"
                class="monospaced"
                type="{{ showCardCode ? 'text' : 'password' }}"
                name="Card.Code"
                [(ngModel)]="cipher.card.code"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                attr.aria-label="{{ 'toggleVisibility' | i18n }} {{ 'securityCode' | i18n }}"
                appA11yTitle="{{ 'toggleVisibility' | i18n }}"
                (click)="toggleCardCode()"
                [attr.aria-pressed]="showCardCode"
              >
                <i
                  class="bwi bwi-lg"
                  aria-hidden="true"
                  [ngClass]="{ 'bwi-eye': !showCardCode, 'bwi-eye-slash': showCardCode }"
                ></i>
              </button>
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copySecurityCode' | i18n }}"
                [attr.aria-describedby]="showCardCode ? 'cardCode' : null"
                (click)="copy(cipher.card.code, 'securityCode', 'Security Code')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Identity -->
        <div *ngIf="cipher.identity">
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.fullName">
            <div class="row-main">
              <label
                for="idFullName"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.fullName)"
                >{{ "identityName" | i18n }}</label
              >
              <input
                id="idFullName"
                type="text"
                name="Identity.FullName"
                [(ngModel)]="cipher.identity.fullName"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyIdentityName' | i18n }}"
                aria-describedby="idFullName"
                (click)="copy(cipher.identity.fullName, 'identityName', 'IdentityName')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.username">
            <div class="row-main">
              <label
                for="idUsername"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.username)"
                >{{ "username" | i18n }}</label
              >
              <input
                id="idUsername"
                type="text"
                name="Identity.Username"
                [(ngModel)]="cipher.identity.username"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyUsername' | i18n }}"
                aria-describedby="idUsername"
                (click)="copy(cipher.identity.username, 'username', 'Username')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.company">
            <div class="row-main">
              <label
                for="idCompany"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.company)"
                >{{ "company" | i18n }}</label
              >
              <input
                id="idCompany"
                type="text"
                name="Identity.Company"
                [(ngModel)]="cipher.identity.company"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyCompany' | i18n }}"
                aria-describedby="idCompany"
                (click)="copy(cipher.identity.company, 'company', 'Company')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.ssn">
            <div class="row-main">
              <label
                for="idSsn"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.ssn)"
                >{{ "ssn" | i18n }}</label
              >
              <input
                id="idSsn"
                type="text"
                name="Identity.SSN"
                [(ngModel)]="cipher.identity.ssn"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copySsn' | i18n }}"
                aria-describedby="idSsn"
                (click)="copy(cipher.identity.ssn, 'ssn', 'Ssn')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.passportNumber">
            <div class="row-main">
              <label
                for="idPassportNumber"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.passportNumber)"
                >{{ "passportNumber" | i18n }}</label
              >
              <input
                id="idPassportNumber"
                type="text"
                name="Identity.PassportNumber"
                [(ngModel)]="cipher.identity.passportNumber"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyPassportNumber' | i18n }}"
                aria-describedby="idPassportNumber"
                (click)="copy(cipher.identity.passportNumber, 'passportNumber', 'PassportNumber')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.licenseNumber">
            <div class="row-main">
              <label
                for="idLicenseNumber"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.licenseNumber)"
                >{{ "licenseNumber" | i18n }}</label
              >
              <input
                id="idLicenseNumber"
                type="text"
                name="Identity.licenseNumber"
                [(ngModel)]="cipher.identity.licenseNumber"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyLicenseNumber' | i18n }}"
                aria-describedby="idLicenseNumber"
                (click)="copy(cipher.identity.licenseNumber, 'licenseNumber', 'LicenseNumber')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.email">
            <div class="row-main">
              <label
                for="idEmail"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.email)"
                >{{ "email" | i18n }}</label
              >
              <input
                id="idEmail"
                type="text"
                name="Identity.Email"
                [(ngModel)]="cipher.identity.email"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyEmail' | i18n }}"
                aria-describedby="idEmail"
                (click)="copy(cipher.identity.email, 'email', 'Email')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="box-content-row box-content-row-flex" *ngIf="cipher.identity.phone">
            <div class="row-main">
              <label
                for="idPhone"
                class="draggable"
                draggable="true"
                (dragstart)="setTextDataOnDrag($event, cipher.identity.phone)"
                >{{ "phone" | i18n }}</label
              >
              <input
                id="idPhone"
                type="text"
                name="Identity.Phone"
                [(ngModel)]="cipher.identity.phone"
                readonly
                tabindex="-1"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyPhone' | i18n }}"
                aria-describedby="idPhone"
                (click)="copy(cipher.identity.phone, 'phone', 'Phone')"
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div
            class="box-content-row box-content-row-textarea"
            *ngIf="
              cipher.identity.address1 ||
              cipher.identity.address2 ||
              cipher.identity.address3 ||
              cipher.identity.city ||
              cipher.identity.state ||
              cipher.identity.postalCode ||
              cipher.identity.country
            "
          >
            <div class="row-main">
              <label
                for="idAddress"
                class="draggable"
                draggable="true"
                (dragstart)="
                  setTextDataOnDrag(
                    $event,
                    (cipher.identity.address1 ? cipher.identity.address1 + '\n' : '') +
                      (cipher.identity.address2 ? cipher.identity.address2 + '\n' : '') +
                      (cipher.identity.address3 ? cipher.identity.address3 + '\n' : '') +
                      (cipher.identity.city ? cipher.identity.city + '\n' : '') +
                      (cipher.identity.state ? cipher.identity.state + '\n' : '') +
                      (cipher.identity.postalCode ? cipher.identity.postalCode + '\n' : '') +
                      (cipher.identity.country ? cipher.identity.country : '')
                  )
                "
                >{{ "address" | i18n }}</label
              >
              <textarea
                id="idAddress"
                S
                name="Identity.Address"
                [value]="
                  (cipher.identity.address1 ? cipher.identity.address1 + '\n' : '') +
                  (cipher.identity.address2 ? cipher.identity.address2 + '\n' : '') +
                  (cipher.identity.address3 ? cipher.identity.address3 + '\n' : '') +
                  (cipher.identity.city ? cipher.identity.city + '\n' : '') +
                  (cipher.identity.state ? cipher.identity.state + '\n' : '') +
                  (cipher.identity.postalCode ? cipher.identity.postalCode + '\n' : '') +
                  (cipher.identity.country ? cipher.identity.country : '')
                "
                rows="6"
                readonly
                tabindex="-1"
              ></textarea>
            </div>
            <div class="action-buttons action-buttons-absolute">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'copyAddress' | i18n }}"
                aria-describedby="idAddress"
                (click)="
                  copy(
                    (cipher.identity.address1 ? cipher.identity.address1 + '\n' : '') +
                      (cipher.identity.address2 ? cipher.identity.address2 + '\n' : '') +
                      (cipher.identity.address3 ? cipher.identity.address3 + '\n' : '') +
                      (cipher.identity.city ? cipher.identity.city + '\n' : '') +
                      (cipher.identity.state ? cipher.identity.state + '\n' : '') +
                      (cipher.identity.postalCode ? cipher.identity.postalCode + '\n' : '') +
                      (cipher.identity.country ? cipher.identity.country : ''),
                    'address',
                    'Address'
                  )
                "
              >
                <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="cipher.login && cipher.login.hasUris">
      <div class="box-content">
        <div
          class="box-content-row box-content-row-flex"
          *ngFor="let u of cipher.login.uris; let i = index"
        >
          <div class="row-main">
            <label
              for="hostOrUri{{ i }}"
              class="draggable"
              draggable="true"
              (dragstart)="setTextDataOnDrag($event, u.uri)"
              *ngIf="!u.isWebsite"
              >{{ "uri" | i18n }}</label
            >
            <label
              for="hostOrUri{{ i }}"
              class="draggable"
              draggable="true"
              (dragstart)="setTextDataOnDrag($event, u.uri)"
              *ngIf="u.isWebsite"
              >{{ "website" | i18n }}</label
            >
            <input
              id="hostOrUri{{ i }}"
              type="text"
              title="{{ u.uri }}"
              [value]="u.hostOrUri"
              readonly
              tabindex="-1"
            />
          </div>
          <div class="action-buttons">
            <button
              type="button"
              class="row-btn"
              appStopClick
              attr.aria-label="{{ 'launch' | i18n }}"
              appA11yTitle="{{ 'launch' | i18n }}"
              attr.aria-describedby="hostOrUri{{ i }}"
              *ngIf="u.canLaunch"
              (click)="launch(u)"
            >
              <i class="bwi bwi-lg bwi-share-square" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              class="row-btn"
              appStopClick
              attr.aria-label="{{ (u.isWebsite ? 'copyWebsite' : 'copyUri') | i18n }}"
              appA11yTitle="{{ (u.isWebsite ? 'copyWebsite' : 'copyUri') | i18n }}"
              attr.aria-describedby="hostOrUri{{ i }}"
              (click)="copy(u.uri, u.isWebsite ? 'website' : 'uri', 'URI')"
            >
              <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="cipher.notes">
      <h2 class="box-header">
        <label
          for="notes"
          class="draggable"
          draggable="true"
          (dragstart)="setTextDataOnDrag($event, cipher.notes)"
          >{{ "notes" | i18n }}</label
        >
      </h2>
      <div class="box-content">
        <div class="box-content-row box-content-row-textarea">
          <div class="row-main">
            <textarea id="notes" [value]="cipher.notes" rows="6" readonly tabindex="-1"></textarea>
          </div>
          <div class="action-buttons action-buttons-absolute">
            <button
              type="button"
              class="row-btn"
              appStopClick
              appA11yTitle="{{ 'copyNotes' | i18n }}"
              aria-describedby="notes"
              (click)="copy(cipher.notes, 'notes', 'Notes')"
            >
              <i class="bwi bwi-lg bwi-clone" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="cipher.hasFields">
      <app-vault-view-custom-fields
        [cipher]="cipher"
        [promptPassword]="promptPassword.bind(this)"
        [copy]="copy.bind(this)"
      ></app-vault-view-custom-fields>
    </div>
    <div
      class="box"
      *ngIf="
        cipher.hasAttachments && (canAccessPremium || cipher.organizationId) && showAttachments
      "
    >
      <h2 class="box-header">
        {{ "attachments" | i18n }}
      </h2>
      <div class="box-content">
        <button
          type="button"
          class="box-content-row box-content-row-flex text-default"
          *ngFor="let attachment of cipher.attachments"
          appStopClick
          (click)="downloadAttachment(attachment)"
        >
          <span class="row-main">{{ attachment.fileName }}</span>
          <small class="row-sub-label">{{ attachment.sizeName }}</small>
          <i
            class="bwi bwi-download bwi-fw row-sub-icon"
            *ngIf="!attachment.downloading"
            aria-hidden="true"
          ></i>
          <i
            class="bwi bwi-spinner bwi-fw bwi-spin row-sub-icon"
            *ngIf="attachment.downloading"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    </div>
    <div class="box">
      <div class="box-footer">
        <div>
          <b class="font-weight-semibold">{{ "dateUpdated" | i18n }}:</b>
          {{ cipher.revisionDate | date: "medium" }}
        </div>
        <div *ngIf="cipher.creationDate">
          <b class="font-weight-semibold">{{ "dateCreated" | i18n }}:</b>
          {{ cipher.creationDate | date: "medium" }}
        </div>
        <div *ngIf="cipher.passwordRevisionDisplayDate">
          <b class="font-weight-semibold">{{ "datePasswordUpdated" | i18n }}:</b>
          {{ cipher.passwordRevisionDisplayDate | date: "medium" }}
        </div>
        <div *ngIf="cipher.hasPasswordHistory">
          <b class="font-weight-semibold">{{ "passwordHistory" | i18n }}:</b>
          <button
            type="button"
            (click)="viewHistory()"
            appStopClick
            appA11yTitle="{{ 'passwordHistory' | i18n }}, {{ cipher.passwordHistory.length }}"
          >
            <span aria-hidden="true">{{ cipher.passwordHistory.length }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer" *ngIf="cipher">
  <button
    class="primary"
    (click)="edit()"
    appA11yTitle="{{ 'edit' | i18n }}"
    *ngIf="!cipher.isDeleted"
  >
    <i class="bwi bwi-pencil bwi-fw bwi-lg" aria-hidden="true"></i>
  </button>
  <button
    class="primary"
    (click)="restore()"
    appA11yTitle="{{ 'restore' | i18n }}"
    *ngIf="cipher.isDeleted"
  >
    <i class="bwi bwi-undo bwi-fw bwi-lg" aria-hidden="true"></i>
  </button>
  <button
    class="primary"
    *ngIf="!cipher?.organizationId && !cipher.isDeleted"
    (click)="clone()"
    appA11yTitle="{{ 'clone' | i18n }}"
  >
    <i class="bwi bwi-files bwi-fw bwi-lg" aria-hidden="true"></i>
  </button>
  <div class="right">
    <button
      type="button"
      (click)="delete()"
      class="danger"
      appA11yTitle="{{ (cipher.isDeleted ? 'permanentlyDelete' : 'delete') | i18n }}"
    >
      <i class="bwi bwi-trash bwi-lg bwi-fw" aria-hidden="true"></i>
    </button>
  </div>
</div>
