<cdk-virtual-scroll-viewport itemSize="52" scrollWindow>
  <bit-table [dataSource]="dataSource">
    <ng-container header>
      <tr>
        <th bitCell class="tw-min-w-fit" colspan="2">
          <input class="tw-mr-2" type="checkbox" bitCheckbox id="checkAll" />
          <label class="tw-mb-0 !tw-font-bold !tw-text-muted" for="checkAll">{{
            "all" | i18n
          }}</label>
        </th>
        <th bitCell class="tw-w-1/2">{{ "name" | i18n }}</th>
        <th bitCell class="tw-w-max" *ngIf="showOwner">{{ "owner" | i18n }}</th>
        <th bitCell class="tw-w-max" *ngIf="showCollections">{{ "collections" | i18n }}</th>
        <th bitCell class="tw-w-max" *ngIf="showGroups">{{ "groups" | i18n }}</th>
        <th bitCell class="tw-min-w-fit tw-text-right">
          <button
            bitIconButton="bwi-ellipsis-v"
            size="small"
            type="button"
            appA11yTitle="{{ 'options' | i18n }}"
          ></button>
        </th>
      </tr>
    </ng-container>
    <ng-template body let-rows$>
      <ng-container *cdkVirtualFor="let item of rows$">
        <tr
          *ngIf="item.collection"
          bitRow
          appVaultCollectionRow
          alignContent="middle"
          [organizations]="organizations"
          [collection]="item.collection"
          [showOwner]="showOwner"
          [showCollections]="showCollections"
          [showGroups]="showGroups"
          [editable]="editableCollections"
        ></tr>
        <tr
          *ngIf="item.cipher"
          bitRow
          appVaultCipherRow
          alignContent="middle"
          [organizations]="organizations"
          [cipher]="item.cipher"
          [showOwner]="showOwner"
          [showCollections]="showCollections"
          [showGroups]="showGroups"
        ></tr>
      </ng-container>
    </ng-template>
  </bit-table>
</cdk-virtual-scroll-viewport>
