<cdk-virtual-scroll-viewport itemSize="52" scrollWindow>
  <bit-table [dataSource]="dataSource">
    <ng-container header>
      <tr>
        <th bitCell class="tw-min-w-fit" colspan="2">
          <input
            class="tw-mr-2"
            type="checkbox"
            bitCheckbox
            id="checkAll"
            (change)="$event ? toggleAll() : null"
            [checked]="selection.hasValue() && isAllSelected"
          />
          <label class="tw-mb-0 !tw-font-bold !tw-text-muted" for="checkAll">{{
            "all" | i18n
          }}</label>
        </th>
        <th bitCell class="tw-w-1/2">{{ "name" | i18n }}</th>
        <th bitCell class="tw-w-max" *ngIf="showOwner">{{ "owner" | i18n }}</th>
        <th bitCell class="tw-w-max" *ngIf="showCollections">{{ "collections" | i18n }}</th>
        <th bitCell class="tw-w-max" *ngIf="showGroups">{{ "groups" | i18n }}</th>
        <th bitCell class="tw-min-w-fit tw-text-right">
          <button
            bitIconButton="bwi-ellipsis-v"
            size="small"
            type="button"
            appA11yTitle="{{ 'options' | i18n }}"
          ></button>
        </th>
      </tr>
    </ng-container>
    <ng-template body let-rows$>
      <ng-container *cdkVirtualFor="let item of rows$">
        <tr
          *ngIf="item.collection"
          bitRow
          appVaultCollectionRow
          alignContent="middle"
          [collection]="item.collection"
          [showOwner]="showOwner"
          [showCollections]="showCollections"
          [showGroups]="showGroups"
          [organizations]="allOrganizations"
          [groups]="allGroups"
          [editable]="editableCollections"
          [checked]="selection.isSelected({ collectionId: item.collection.id })"
          (checkedToggled)="selection.toggle({ collectionId: item.collection.id })"
          (onEvent)="event($event)"
        ></tr>
        <tr
          *ngIf="item.cipher"
          bitRow
          appVaultCipherRow
          alignContent="middle"
          [cipher]="item.cipher"
          [showOwner]="showOwner"
          [showCollections]="showCollections"
          [showGroups]="showGroups"
          [showPremiumFeatures]="showPremiumFeatures"
          [useEvents]="useEvents"
          [cloneable]="
            (item.cipher.organizationId && cloneableOrganizationCiphers) ||
            item.cipher.organizationId == null
          "
          [organizations]="allOrganizations"
          [collections]="allCollections"
          [checked]="selection.isSelected({ cipherId: item.cipher.id })"
          (checkedToggled)="selection.toggle({ cipherId: item.cipher.id })"
          (onEvent)="event($event)"
        ></tr>
      </ng-container>
    </ng-template>
  </bit-table>
</cdk-virtual-scroll-viewport>
