<td bitCell>
  <input class="tw-cursor-pointer" type="checkbox" bitCheckbox appStopProp />
</td>
<td bitCell>
  <div class="icon" aria-hidden="true">
    <i class="bwi bwi-fw bwi-lg bwi-collection"></i>
  </div>
</td>
<td bitCell>
  <button bitLink class="tw-text-start" linkType="secondary" type="button">
    {{ collection.name }}
  </button>
</td>
<td bitCell *ngIf="showOwner">
  <app-org-badge
    [organizationName]="collection.organizationId | orgNameFromId: organizations"
    appStopProp
  >
  </app-org-badge>
</td>
<td bitCell *ngIf="showCollections">collections</td>
<td bitCell *ngIf="showGroups">groups</td>
<td bitCell class="tw-text-right">
  <button
    *ngIf="editable"
    size="small"
    bitIconButton="bwi-ellipsis-v"
    type="button"
    appA11yTitle="{{ 'options' | i18n }}"
    appStopProp
  ></button>
</td>
