<div class="modal fade" role="dialog" aria-modal="true" attr.aria-label="{{ 'settings' | i18n }}">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form (ngSubmit)="submit()" [formGroup]="deleteForm">
      <div class="modal-body">
        <p class="modal-text">Proceed below to delete your account and all vault data.</p>
        <app-callout type="warning" title="{{ 'warning' | i18n }}">
          Deleting your account is permanent. It cannot be undone.
        </app-callout>
        <div class="box last">
          <div class="box-header">{{ "deleteAccount" | i18n }}</div>
          <div class="box-content">
            <app-user-verification ngDefaultControl formControlName="secret" name="secret">
            </app-user-verification>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="danger">{{ "deleteAccount" | i18n }}</button>
        <button type="button" data-dismiss="modal">{{ "cancel" | i18n }}</button>
      </div>
    </form>
  </div>
</div>
