<sm-header>
  <input bitInput [placeholder]="'searchSecrets' | i18n" />
  <sm-new-menu></sm-new-menu>
</sm-header>
<sm-secrets-list
  (deleteSecretsEvent)="openDeleteSecret($event)"
  (newSecretEvent)="openNewSecretDialog()"
  (editSecretEvent)="openEditSecret($event)"
  [secrets]="secrets$ | async"
  [itemActions]="{
    editSecret: true,
    copyName: true,
    copyValue: true,
    projects: true,
    restore: false,
    delete: true
  }"
  [noItemsView]="{
    title: 'secretsNoItemsTitle' | i18n,
    description: 'secretsNoItemsMessage' | i18n,
    showNewSecretButton: true
  }"
  [bulkActions]="{
    projects: true,
    restore: false,
    delete: true
  }"
></sm-secrets-list>
