<a *ngFor="let c of ciphers" (click)="selectCipher(c)" (dblclick)="doubleSelectCipher(c)" href="#" appStopClick
    title="{{title}} - {{c.name}}" class="box-content-row box-content-row-flex">
    <div class="row-main">
        <ng-container *ngIf="c.type === cipherType.Login">
            <app-vault-icon [cipher]="c"></app-vault-icon>
        </ng-container>
        <ng-container *ngIf="c.type === cipherType.Card">
            <div class="icon" aria-hidden="true">
                <i class="icon-cozy icon-bank"></i>
            </div>
        </ng-container>
        <ng-container *ngIf="c.type === cipherType.Identity">
            <div class="icon" aria-hidden="true">
                <i class="icon-cozy icon-identity"></i>
            </div>
        </ng-container>
        <div class="row-main-content">
            <span class="text">
                {{c.name}}
                <!-- Show when a password is shared with the Cozy organization -->
                <ng-container class="icon" *ngIf="c.organizationId">
                    <i class="icon-cozy icon-cozy-sync"></i>
                </ng-container>
            </span>
            <span class="detail">{{c.subTitle}}</span>
        </div>
    </div>
    <app-action-buttons [cipher]="c" [showView]="showView" (onView)="viewCipher(c)" class="action-buttons">
    </app-action-buttons>
</a>
