<app-callout type="info" *ngIf="showKeyConnectorInfo">
  {{ "keyConnectorPolicyRestriction" | i18n }}
</app-callout>

<div [formGroup]="data">
  <bit-form-control>
    <input type="checkbox" bitCheckbox [formControl]="enabled" />
    <bit-label>{{ "turnOn" | i18n }}</bit-label>
  </bit-form-control>

  <bit-form-control>
    <input type="checkbox" bitCheckbox formControlName="enforceOnLogin" />
    <bit-label>{{ "enforceOnLoginDesc" | i18n }}</bit-label>
  </bit-form-control>

  <div class="tw-flex tw-space-x-4">
    <bit-form-field class="tw-flex-auto">
      <bit-label>{{ "minComplexityScore" | i18n }}</bit-label>
      <select bitInput formControlName="minComplexity">
        <option *ngFor="let o of passwordScores" [ngValue]="o.value">{{ o.name }}</option>
      </select>
    </bit-form-field>
    <bit-form-field class="tw-flex-auto">
      <bit-label>{{ "minLength" | i18n }}</bit-label>
      <input bitInput formControlName="minLength" type="number" [min]="MinPasswordLength" />
    </bit-form-field>
  </div>

  <bit-form-control class="!tw-mb-2">
    <input type="checkbox" bitCheckbox formControlName="requireUpper" />
    <bit-label>A-Z</bit-label>
  </bit-form-control>
  <bit-form-control class="!tw-mb-2">
    <input type="checkbox" bitCheckbox formControlName="requireLower" />
    <bit-label>a-z</bit-label>
  </bit-form-control>
  <bit-form-control class="!tw-mb-2">
    <input type="checkbox" bitCheckbox formControlName="requireNumbers" />
    <bit-label>0-9</bit-label>
  </bit-form-control>
  <bit-form-control>
    <input type="checkbox" bitCheckbox formControlName="requireSpecial" />
    <bit-label>!@#$%^&amp;*</bit-label>
  </bit-form-control>
</div>
