<header>
    <div class="left" *ngIf="showLeftHeader">
        <app-pop-out></app-pop-out>
    </div>
    <div class="search">
        <input type="{{searchTypeSearch ? 'search' : 'text'}}" placeholder="{{'searchVault' | i18n}}" id="search"
            [(ngModel)]="searchText" (input)="search(200)" appAutofocus>
        <i class="fa fa-search"></i>
    </div>
    <div class="right">
        <button appBlurClick (click)="addCipher()" appA11yTitle="{{'addItem' | i18n}}">
            <i class="fa fa-plus fa-lg fa-fw" aria-hidden="true"></i>
        </button>
    </div>
</header>
<content>
    <div class="no-items" *ngIf="(!ciphers || !ciphers.length) && !showSearching()">
        <i class="fa fa-spinner fa-spin fa-3x" *ngIf="!loaded"></i>
        <ng-container *ngIf="loaded">
            <div class="icon-cozy-inline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64">
                    <path fill-rule="evenodd" d="M15.97 3c2.2.01 4.33.89 5.9 2.45v.04a8.69 8.69 0 0 1 2.53 5.1 8.62 8.62 0 0 1-.68 17.15H8.55a8.6 8.6 0 0 1-1.01-17.15A8.55 8.55 0 0 1 15.97 3zm-.09 1.63a6.91 6.91 0 0 0-6.83 6.74.9.9 0 0 1-.84.9 6.94 6.94 0 0 0 .17 13.88h15.34a6.94 6.94 0 0 0 0-13.87h-.09c-.5 0-.91-.4-.92-.9a6.91 6.91 0 0 0-6.83-6.75zm4.21 13.86l.24-.17c.14-.1.31-.13.48-.1a.7.7 0 0 1 .42.29c.16.27.1.61-.12.82l-.08.06c-.26.22-.42.52-.45.85v.17a.65.65 0 1 1-1.27-.2c0-.23.05-.45.11-.65a4.97 4.97 0 0 0-6.74 0c.07.21.12.45.13.68 0 .35-.3.64-.65.64h-.01a.62.62 0 0 1-.42-.15.66.66 0 0 1-.21-.47 1.3 1.3 0 0 0-.48-.9.66.66 0 0 1-.13-.85.64.64 0 0 1 .84-.19c.08.05.16.1.23.17a6.26 6.26 0 0 1 8.11 0z"/>
                </svg>
            </div>
            <p>{{'noItemsInList' | i18n}}</p>
            <button (click)="addCipher()" class="btn block primary link">{{'addItem' | i18n}}</button>
        </ng-container>
    </div>
    <ng-container *ngIf="ciphers && ciphers.length && !showSearching()">
        <div class="box list">
            <div class="box-header">
                {{'cards' | i18n}}
                <span class="flex-right">{{countByType(cipherType.Card)}}</span>
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType(cipherType.Card)" title="{{'viewItem' | i18n}}"
                    (onSelected)="selectCipher($event)" (onDoubleSelected)="launchCipher($event)">
                </app-ciphers-list>
            </div>
        </div>
        <div class="box list">
            <div class="box-header">
                {{'identities' | i18n}}
                <span class="flex-right">{{countByType(cipherType.Identity)}}</span>
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType(cipherType.Identity)" title="{{'viewItem' | i18n}}"
                    (onSelected)="selectCipher($event)" (onDoubleSelected)="launchCipher($event)">
                </app-ciphers-list>
            </div>
        </div>
        <div class="box list">
            <div class="box-header">
                {{'logins' | i18n}}
                <div class="flex-right">{{countByType(cipherType.Login)}}</div>
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType(cipherType.Login)" title="{{'viewItem' | i18n}}"
                    (onSelected)="selectCipher($event)" (onDoubleSelected)="launchCipher($event)"></app-ciphers-list>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showSearching()">
        <div class="no-items" *ngIf="!ciphers || !ciphers.length">
            <p>{{'noItemsInList' | i18n}}</p>
        </div>
        <div class="box list full-list" *ngIf="ciphers && ciphers.length > 0">
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphers" title="{{'viewItem' | i18n}}" (onSelected)="selectCipher($event)"
                    (onDoubleSelected)="launchCipher($event)"></app-ciphers-list>
            </div>
        </div>
    </ng-container>
</content>
