<nav-item title="{{ title }}" icon="{{ icon }}" to="{{ to }}">
  <button
    slot-end
    class="tw-text-white tw-ml-auto"
    [bitIconButton]="open ? 'bwi-chevron-up' : 'bwi-angle-down'"
    (click)="toggle($event)"
    size="small"
    [title]="'options' | i18n"
    [attr.aria-expanded]="open"
    [attr.aria-controls]="contentId"
    [attr.aria-label]="'options' | i18n"
  ></button>
</nav-item>
<div *ngIf="open" [attr.id]="contentId" class="[&>nav-item>div]:!tw-pl-8">
  <ng-content></ng-content>
</div>
