<sm-header>
  <sm-new-menu></sm-new-menu>
</sm-header>
<sm-secrets-list
  (deleteSecretsEvent)="openDeleteSecret($event)"
  (restoreSecretsEvent)="openRestoreSecret($event)"
  [secrets]="secrets$ | async"
  [itemActions]="{
    editSecret: false,
    copyName: true,
    copyValue: true,
    projects: false,
    restore: true,
    delete: true
  }"
  [noItemsView]="{
    title: 'secretsNoItemsTitle' | i18n,
    description: 'secretsTrashNoItemsMessage' | i18n,
    showNewSecretButton: false
  }"
  [bulkActions]="{
    projects: true,
    restore: true,
    delete: true
  }"
></sm-secrets-list>
