<form #form [formGroup]="formGroup" (ngSubmit)="submit()" [appApiAction]="formPromise">
  <bit-dialog dialogSize="small">
    <div bitDialogTitle class="tw-gap-4">
      <span>{{ title | i18n }}</span>
      <span class="tw-text-sm tw-normal-case tw-text-muted" *ngIf="data.projects.length == 1">
        {{ data.projects[0].name }}
      </span>
      <span class="tw-text-sm tw-normal-case tw-text-muted" *ngIf="data.projects.length > 1">
        {{ data.projects.length }}
      </span>
      <span class="tw-text-sm tw-normal-case tw-text-muted" *ngIf="data.projects.length > 1">
        {{ "projects" | i18n }}
      </span>
    </div>

    <div bitDialogContent>
      <bit-callout type="warning" [title]="'warning' | i18n">
        {{ dialogContent }}
      </bit-callout>
      <bit-form-field>
        <bit-label>{{ dialogConfirmationLabel }}</bit-label>
        <input bitInput formControlName="confirmDelete" />
      </bit-form-field>
    </div>

    <div bitDialogFooter class="tw-flex tw-gap-2">
      <button bitButton buttonType="danger" [loading]="form.loading">
        {{ title | i18n }}
      </button>
      <button bitButton buttonType="secondary" bitDialogClose type="button">
        {{ "cancel" | i18n }}
      </button>
    </div>
  </bit-dialog>
</form>
