@import "../popup/scss/variables.scss";

body {
    background-color: $brand-primary;
    padding: 0;
    margin: 0;
    font-size: $font-size-large;
    line-height: 16px;
    font-family: $font-family-sans-serif;
}

table {
    width: 100%;
}

#bit-notification-bar-iframe {
    width: 100%;
    max-width: 420px;
    box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 6px 18px 0 rgba(50, 54, 63, 0.19);
    border: solid 1px rgba(50, 54, 63, 0.12);
    position: fixed;
    top: 8px;
    right: 8px;
    border-radius: $border-radius-large;

}

.outter-table > tbody > tr > td {
    padding: 0 0 0 15px;
    border-bottom: 2px solid $brand-primary;
    vertical-align: top;
}

.outter-table > tbody > tr > td:last-child {
    padding-right: 15px;
}

.inner-table td {
    padding: 0 15px 0 0;
}

.inner-table td:last-child {
    padding: 0;
}

.inner-table td button {
    margin-left: 5px;
}

.desc-text {
    color: #ffffff;
    margin-top: 15px;
    font-weight: 600;
}

.options {
    margin-top: 15px;
}

.more-options {
    color: $gray-silver;
    text-decoration: none;
}

.option-entry {
    padding: 15px 0px 0px 0px;
}

.checkbox-custom {
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid $brand-primary;
    padding: 9px;
    border-radius: $border-radius;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.checkbox-custom:checked:after {
	content: '\2714';
	font-size: $font-size-large;
	position: absolute;
	top: 0px;
	left: 2px;
	color: $brand-primary;
}


.template-options {
    margin-top: 15px;
    color: #ffffff;
    background-color: #5397f4;
    padding: 0px 15px 15px 15px;
    border-radius: $border-radius-large;
}

.submit-buttons {
    position: relative;
    top: 15px;
    float: right;
    border-radius: $border-radius-large;
}

button {
    border: 1px solid white;
    font-weight: 600;
    text-transform: uppercase;
}

svg {
    margin-top: 5px;
}

button:not(.link) {
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    color: $brand-primary;
    margin-left: 5px;
}

button:not(.link):hover {
    cursor: pointer;
    text-decoration: underline;
}

button.link {
    background: none;
    padding: 10px 10px 10px 10px;
    background-color: $brand-primary;
    color: #ffffff;
    text-transform: uppercase;
}

button.link:hover {
    cursor: pointer;
    text-decoration: underline;
}


body[class*='lang-en'] .add-buttons {
    width: 175px;
}

@media (min-width: 768px) {
    body[class*='lang-en'] .add-buttons {
        width: 320px;
    }
}

@media (print) {
    body {
        display: none;
    }
}
