<bit-simple-dialog>
  <span bitDialogTitle>{{ title | i18n }}</span>
  <span bitDialogContent>
    <div *ngIf="!data.hardDelete && data.secretIds.length === 1">
      {{ "softDeleteSecretWarning" | i18n }}
    </div>
    <div *ngIf="data.hardDelete && data.secretIds.length === 1">
      {{ "hardDeleteSecretConfirmation" | i18n }}
    </div>
    <div *ngIf="data.hardDelete && data.secretIds.length > 1">
      {{ "hardDeleteSecretsConfirmation" | i18n }}
    </div>
    <div *ngIf="!data.hardDelete">
      {{ "deleteItemConfirmation" | i18n }}
    </div>
  </span>
  <div bitDialogFooter class="tw-flex tw-gap-2">
    <button type="button" bitButton buttonType="primary" [bitAction]="delete">
      {{ submitButtonText | i18n }}
    </button>
    <button type="button" bitButton buttonType="secondary" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </div>
</bit-simple-dialog>
