<div id="login-with-device-page">
  <div class="login-header">
    <button
      type="button"
      appStopClick
      (click)="settings()"
      class="environment-urls-settings-icon"
      attr.aria-label="{{ 'settings' | i18n }}"
    >
      <i class="bwi bwi-cog bwi-lg" aria-hidden="true"></i>
      {{ "settings" | i18n }}
    </button>
  </div>
  <div id="content" class="content">
    <img class="logo-image" alt="Bitwarden" />
    <p class="lead">{{ "logInInitiated" | i18n }}</p>

    <div class="section">
      <p>{{ "notificationSentDevice" | i18n }}</p>
      <p>
        {{ "fingerprintMatchInfo" | i18n }}
      </p>
    </div>

    <div class="fingerprint section">
      <h4 class="small fingerpint-header">{{ "fingerprintPhraseHeader" | i18n }}</h4>
      <p>
        <code>{{ passwordlessRequest?.fingerprintPhrase }}</code>
      </p>
    </div>

    <div class="section text-center" *ngIf="showResendNotification">
      <a [routerLink]="[]" disabled="true" (click)="startPasswordlessLogin()">{{
        "resendNotification" | i18n
      }}</a>
    </div>

    <div class="sub-options another-method">
      <p class="no-margin description-text">{{ "needAnotherOption" | i18n }}</p>
      <button type="button" class="text text-primary" (click)="goToLogin()">
        {{ "viewAllLoginOptions" | i18n }}
      </button>
    </div>
  </div>
</div>
<ng-template #environment></ng-template>
