<div *ngIf="!authed" class="tw-w-[400px]">
  <p bitTypography="body1" class="tw-text-center">
    {{ name }}
  </p>
  <p bitTypography="body1">{{ "acceptEmergencyAccess" | i18n }}</p>
  <hr />
  <div class="tw-flex tw-gap-2">
    <a
      bitButton
      buttonType="primary"
      routerLink="/login"
      [queryParams]="{ email: email }"
      [block]="true"
    >
      {{ "logIn" | i18n }}
    </a>
    <a
      bitButton
      buttonType="primary"
      routerLink="/register"
      [queryParams]="{ email: email }"
      [block]="true"
    >
      {{ "createAccount" | i18n }}
    </a>
  </div>
</div>
