<bit-dialog dialogSize="default">
  <span bitDialogTitle>
    {{ cipherTypeString }}
  </span>
  <ng-container bitDialogContent>
    <app-cipher-view [cipher]="cipher"></app-cipher-view>
  </ng-container>
  <ng-container bitDialogFooter>
    <button
      *ngIf="cipher.edit"
      bitButton
      bitFormButton
      (click)="edit()"
      buttonType="primary"
      type="button"
    >
      {{ "edit" | i18n }}
    </button>
    <div class="ml-auto" *ngIf="cipher.edit">
      <button
        bitButton
        bitFormButton
        type="button"
        buttonType="secondary"
        class="btn-outline-danger"
        (click)="delete()"
      >
        <i class="bwi bwi-trash bwi-lg bwi-fw" aria-hidden="true"></i>
      </button>
    </div>
  </ng-container>
</bit-dialog>
