<bit-dialog dialogSize="default">
  <span bitDialogTitle>
    {{ cipherTypeString }}
  </span>
  <ng-container bitDialogContent>
    <app-cipher-view [cipher]="cipher"></app-cipher-view>
  </ng-container>
  <ng-container bitDialogFooter>
    <button bitButton bitFormButton type="submit" buttonType="primary">
      {{ "edit" | i18n }}
    </button>
    <button bitButton bitFormButton type="button" buttonType="secondary" bitDialogClose>
      {{ "cancel" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
