<div class="tabbed-content">
  <h2>
    {{ "devices" | i18n }}
    <i class="bwi bwi-question-circle tw-h-5 tw-w-5 bwi-color-primary" aria-hidden="true"></i>
  </h2>
  <p>{{ "deviceListDescription" | i18n }}</p>

  <bit-table [dataSource]="dataSource">
    <ng-container header>
      <tr>
        <th
          *ngFor="let col of columnConfig"
          [class]="col.headerClass"
          bitCell
          [bitSortable]="col.sortable ? col.name : null"
          [default]="col.name === 'displayName' ? 'asc' : null"
          scope="col"
          role="columnheader"
        >
          {{ col.title }}
        </th>
        <th bitCell scope="col" role="columnheader"></th>
      </tr>
    </ng-container>
    <ng-template body>
      <tr bitRow *ngFor="let device of dataSource.data">
        <td bitCell class="tw-flex tw-gap-2">
          <div class="tw-flex tw-items-center tw-justify-center tw-w-10">
            <i [class]="getDeviceIcon(device.type)" class="bwi-lg" aria-hidden="true"></i>
          </div>
          <div>
            {{ device.displayName }}
            <span *ngIf="device.trusted" class="tw-text-sm tw-text-muted tw-block">
              {{ "trusted" | i18n }}
            </span>
          </div>
        </td>
        <td *ngIf="!isCurrentDevice(device)" bitCell>{{ device.loginStatus }}</td>
        <td *ngIf="isCurrentDevice(device)" bitCell>
          <span bitBadge variant="primary">{{ "currentSession" | i18n }}</span>
        </td>
        <td bitCell>{{ device.firstLogin | date: "medium" }}</td>
        <td bitCell>
          <button
            type="button"
            bitIconButton="bwi-ellipsis-v"
            [bitMenuTriggerFor]="optionsMenu"
          ></button>
          <bit-menu #optionsMenu>
            <a href="#" bitMenuItem>Anchor link</a>
            <a href="#" bitMenuItem>Another link</a>
            <bit-menu-divider></bit-menu-divider>
            <button type="button" bitMenuItem>Button after divider</button>
          </bit-menu>
        </td>
      </tr>
    </ng-template>
  </bit-table>
</div>
