<ng-container *ngIf="secrets$ | async as secrets">
  <div *ngIf="secrets.length > 0" class="float-right tw-mt-3 tw-items-center">
    <button bitButton buttonType="secondary" (click)="openNewSecretDialog()">
      <i class="bwi bwi-plus" aria-hidden="true"></i>
      {{ "newSecret" | i18n }}
    </button>
  </div>
  <sm-secrets-list
    (deleteSecretsEvent)="openDeleteSecret($event)"
    (newSecretEvent)="openNewSecretDialog()"
    (editSecretEvent)="openEditSecret($event)"
    [secrets]="secrets"
  ></sm-secrets-list>
</ng-container>
