
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "../popup/scss/variables.scss";

body {
    color:white;
    padding: 0;
    margin: 0;
    font-size: $font-size-large;
    line-height: 16px;
    font-family: $font-family-sans-serif;
    overflow: hidden;
}

.fade-in{
    animation-duration : 300ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
}

.panel {
    margin: 16px 10px 10px 10px;
    background-color: #297EF2;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
    transform-origin: calc(100% - 25px) 0;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.panel:after {
    content: '';
    height: 0;
    width: 0;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #297ef2 rgba(255, 255, 255, 0);
    position: absolute;
    top: -8px;
    right: 17px;
}

#header {
    padding: 1rem 1rem 1.5rem;
    font-weight: bold;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

#title-content {
  flex-grow: 1;
  padding-left: 0.5rem;
}

.close-icon {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:active {
      cursor: pointer;
      svg {
        fill: white;
      }
    }
    svg {
        fill: white;
    }
}

#login-form {
    padding: 0 1rem 1rem 1rem ;
}

.row {
    margin-bottom: 1em;
}

.row-input {
  height: 3rem;
  border: 1px solid;
  border-radius: 4px;
  border-color: #ffffffa3;
}

.waiting .row-input , .row-input.disabled {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.64);
    color: #b5d4ff;
}

.error .row-input {
    border-color: #fecece;
}

.error label {
    color: #fecece;
}

label {
    font-size: 12px;
    color: #b5d4ff;
}

.row-label {
  // margin-left: 0.75rem;
  top: -0.6rem;
  left: 0.75rem;
  position: relative;
  background-color: #297ef2;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

input {
    width: 100%;
    border: 0;
    height: 1.5em;
    background-color: transparent;
    color: inherit;
    padding-left: 1rem;
    box-sizing: border-box;
    top: -0.25rem;
    position: relative;
    outline: none;
}

input::placeholder {
    color: #b5d4ff;
}

.box-input {
    display: flex;
}

.visibility-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: inherit;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    top: -0.25rem;
}

hr {
    margin: 0 10px 0 10px;
    border-width: 0;
    border-bottom: 1px solid #5892E6;
}

#error-label {
    width: 100%;
    display: block;
    color: #fecece;
    font-family: Lato-Italic;
    font-size: 14px;
}

button {
    border: 1px solid white;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    width: 100%;
    color: #297ef2;
    background-color: white;

    &:hover {
        cursor: pointer;
    }
}

.twoFa-mode #url-row {
    display: none;
}

.twoFa-mode #pwd-row {
    display: none;
}

#twoFa-row {
    display: none;
}

.twoFa-mode #twoFa-row {
    display: block;
}
