
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "../popup/scss/variables.scss";

body {
    color:white;
    padding: 0;
    margin: 0;
    font-size: $font-size-large;
    line-height: 16px;
    font-family: $font-family-sans-serif;
    overflow: hidden;
}

.fade-in{
    animation-duration : 300ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
}

.panel {
    margin: 16px 10px 10px 10px;
    background-color: #297EF2;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
    transform-origin: calc(100% - 25px) 0;
    animation-fill-mode: forwards;
    transform: scale(0);
}

#arrow {
    content: '';
    height: 0;
    width: 0;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #297ef2 rgba(255, 255, 255, 0);
    position: absolute;
    top: -8px;
    right: 10px;
}

#header {
    padding: 1rem 1rem 2rem;
    font-weight: bold;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    & > #logo-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#title-content {
  flex-grow: 1;
  padding: 0 1em;
}

.close-icon {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:active {
      cursor: pointer;
      svg {
        fill: white;
      }
    }
    svg {
        fill: white;
    }
}

#login-form {
    padding: 0 1rem 1rem 1rem ;
}

.row {
    margin-bottom: 1em;
}

.material-input {
    cursor:text;
    border: 1px solid;
    border-radius: 4px;
    border-color: #ffffffa3;
    position: relative;
    & ::selection {
        background: #b5d4ff;;
    }
}

.waiting .material-input {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.64);
    color: #b5d4ff;
    cursor: progress;
}

.error .material-input {
    border-color: #fecece;
}

.error label {
    color: #fecece;
}

label {
    font-size: 16px;
    color: #b5d4ff;
}


$visible-label-top: 0.8rem;
$visible-label-padding: 0.3rem;
$visible-label-left: 0.75rem;
$visible-label-right-for-eye: 2rem;
$visible-label-right: 0.1rem;
$visible-label-focused-top: -0.7rem;

.visible-label {
    position: absolute;
    top: $visible-label-top;
    transition: all 0.5s;
    display: inline-block;
    height: 0;
    width: 100%;
    z-index: 1;
}

.visible-label > label {
    cursor:text;
    position: absolute;
    left: $visible-label-left;
    padding-left: $visible-label-padding;
    padding-right: $visible-label-padding;
    max-width: calc(100% - #{ 2 * $visible-label-padding + $visible-label-left});
    transition: all 0.5s;
    background-color: #297EF2;
}

.eyed > .visible-label > label {
    max-width: calc(100% - #{ 2 * $visible-label-padding + $visible-label-left + $visible-label-right-for-eye});
}

.shadow-placeholder {
    opacity: 0;
    color: black;
    position: relative;
    display: block;
    padding:
        $visible-label-top
        $visible-label-padding
        $visible-label-top
        #{$visible-label-left + $visible-label-padding};
}

.eyed > .shadow-placeholder {
    padding-right: $visible-label-padding + $visible-label-right-for-eye;
}

.focused-or-filled .visible-label {
    top: $visible-label-focused-top;
}

.focused-or-filled .visible-label > label {
    font-size: 12px;
    max-width: calc(100% - #{ 2 * $visible-label-padding + $visible-label-left + $visible-label-right});
}

.box-labeled-input {
    position: absolute;
    top: $visible-label-focused-top;
    height: calc(100% - #{$visible-label-focused-top});
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shadow-label {
    opacity: 0;
    cursor:text;
    position: relative;
    left: $visible-label-left + $visible-label-padding;
    font-size: 12px;
    max-width: calc(100% - #{$visible-label-left + 2*$visible-label-padding + $visible-label-right});
    display: block;
}

.box-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: inherit;
    padding-left: $visible-label-left + $visible-label-padding;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

input::placeholder {
    color: #b5d4ff;
}

.visibility-btn {
    cursor: pointer;
    margin-left: 0.25rem;
    margin-right: 1rem;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    color: inherit;
}

hr {
    margin: 0 10px 0 10px;
    border-width: 0;
    border-bottom: 1px solid #5892E6;
}

#error-label {
    width: 100%;
    display: block;
    color: #fecece;
    font-style: italic;
    font-size: 14px;
}

button {
    border: 1px solid white;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    width: 100%;
    color: #297ef2;
    background-color: white;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        color: #84b5f8;
        background-color: #d3e5ff;
        cursor: progress;
    }
}

:disabled {
    cursor: progress;
}

.twoFa-mode #url-row {
    display: none;
}

.twoFa-mode #pwd-row {
    display: none;
}

#twoFa-row {
    display: none;
}

.twoFa-mode #twoFa-row {
    display: block;
}

@media (max-width: 300px) {
    #title-content{
        font-size: 0.9em;
        padding: 0 0.5em;
    }
    #login-form {
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
    .row-main {
        padding: 0.475rem 0 0.475rem 0.5rem;
    }
    .row-text {
        font-size: 13px;
    }
    .row-icon {
        width: 1rem;
        height: 1rem;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        margin-right: 0.5rem;
    }
}
