@import "../popup/scss/variables.scss";

body {
    color:white;
    padding: 0;
    margin: 0;
    font-size: $font-size-small;
    line-height: 16px;
    font-family: $font-family-sans-serif;
    overflow: hidden;
}

.fade-in{
    animation-duration : 300ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
}

.panel {
    margin: 16px 10px 10px 10px;
    background-color: #297EF2;
    border-radius: 0.5rem;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
    transform-origin: calc(100% - 25px) 0;
    animation-fill-mode: forwards;
    transform: scale(0);
}

#arrow {
    content: '';
    height: 0;
    width: 0;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #297ef2 rgba(255, 255, 255, 0);
    position: absolute;
    top: -8px;
    right: 10px;
}

#header {
    padding: 0 1rem 0 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 3rem;
    align-items: center;
}

#logo-link {
    height: 1rem;
    &:hover svg {
        transform: scale(1.3);
        transition: transform 0.2s;
    }
    svg {
      fill: white;
    }
}

#title-content{
    flex-grow: 1;
    padding-left: 0.5rem;
}

.close-icon {
    width: 1rem;
    &:hover, &:active {
      cursor: pointer;
    }
    svg {
      fill: white;
    }
}

hr {
    margin: 0;
    border-width: 0;
    border-bottom: 1px solid #d6d8da;
    background: white;
}

.rows-list {
    padding: 0 1rem 1rem 1rem;
    color: #393e48;
}

.row-main {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    padding: 0.875rem 0 0.875rem 1rem;
    background-color: white;
    border-bottom: #d6d8da 1.5px solid;
    overflow: hidden;
    &.selected {
        background-color: #ddebff;
    }
    &:hover{
        cursor: pointer;
        background-color: #c4dcfd;
    }
    &:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    &:last-child {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom: 0;
    }
}

.row-icon {
    width: 2rem;
    height: 2rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
}

.icon-login {
    background-image: url(./images/icons-login.svg);
}

.icon-card {
    background-image: url(./images/icons-card.svg);
}

.icon-identity {
    background-image: url(./images/icons-identity.svg);
}

.row-text {
    margin-top: 0.3rem;
    display: block;
    font-size: $font-size-large;
}

.row-detail {
    display: block;
    font-size: $font-size-small;
    color: #95999d;
    min-height: 5px;
}

.hidden {
    display: none;
}

@media (max-width: 300px) {
    #title-content{
        font-size: 0.9em;
    }
    .rows-list {
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
    .row-main {
        padding: 0.475rem 0 0.475rem 0.5rem;
    }
    .row-text {
        font-size: 13px;
    }
    .row-icon {
        width: 1rem;
        height: 1rem;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        margin-right: 0.5rem;
    }
}
@media (max-width: 160px) {
    #title-content{
        display: none;
    }
}
