<a [routerLink]="['secrets']" class="tw-mx-4 tw-mt-8 tw-mb-3 tw-block">
  <bit-icon [icon]="logo" class="tw-w-full tw-text-alt2"></bit-icon>
</a>

<org-switcher></org-switcher>
<nav-item icon="bwi-collection" title="Projects" to="projects"></nav-item>
<nav-item icon="bwi-key" title="Secrets" to="secrets"></nav-item>
<nav-item icon="bwi-wrench" title="Service Accounts" to="service-accounts"></nav-item>
<nav-item icon="bwi-trash" title="Trash" to="trash"></nav-item>
<nav-item icon="bwi-cog" title="Settings" to="settings"></nav-item>
