<popup-page>
  <popup-header slot="header" [pageTitle]="'passwordHistory' | i18n" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>
  <div *ngIf="!credentials.length" class="tw-flex tw-flex-col tw-h-full tw-justify-center">
    <tools-credential-generator-history-empty-list />
  </div>
  <tools-credential-generator-history />
  <popup-footer slot="footer">
    <button
      [disabled]="!credentials.length"
      bitButton
      type="submit"
      buttonType="primary"
      (click)="clear()"
    >
      {{ "clearHistory" | i18n }}
    </button>
  </popup-footer>
</popup-page>
