<popup-page>
  <popup-header slot="header" [pageTitle]="'passwordHistory' | i18n" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>
  <div class="tw-flex tw-flex-col tw-h-full tw-justify-center">
    <bit-password-generator-history [credentials]="credentials" />
  </div>
  <popup-footer slot="footer">
    <button
      [disabled]="!credentials.length"
      bitButton
      type="submit"
      buttonType="primary"
      (click)="clearHistory()"
    >
      {{ "clearHistory" | i18n }}
    </button>
  </popup-footer>
</popup-page>
