<popup-page>
  <popup-header slot="header" [pageTitle]="'vault' | i18n">
    <ng-container slot="end">
      <a
        bitButton
        buttonType="primary"
        type="button"
        routerLink="/add-cipher"
        [queryParams]="{ selectedVault: this.selectedOrgId }"
        class="tw-no-underline"
      >
        <i class="bwi bwi-plus-f" aria-hidden="true"></i>
        {{ "new" | i18n }}
      </a>
      <app-pop-out></app-pop-out>
      <app-current-account></app-current-account>
    </ng-container>
  </popup-header>
</popup-page>
