<div class="tw-flex tw-flex-wrap tw-gap-2 tw-mb-6">
  <bit-select *ngIf="hasFolders$ | async" [placeholder]="'folders' | i18n" class="tw-max-w-32">
    <bit-option
      *ngFor="let folder of allFolders$ | async"
      [value]="folder.id"
      [label]="folder.name"
      icon="bwi-folder"
    ></bit-option>
  </bit-select>
  <bit-select [placeholder]="'types' | i18n" class="tw-max-w-32">
    <bit-option
      *ngFor="let type of cipherTypes$ | async"
      [value]="type.value"
      [label]="type.label | i18n"
      [icon]="type.icon"
    ></bit-option>
  </bit-select>
</div>
